<style type="text/css">
	.parsley-errors-list{
		color: red;
	}
	.skip_count{
		cursor: pointer;
	}
	.inner-page {
    display: flex;
    flex-flow: column;
    align-items: self-start;
    padding: 45px 90px;
	}
	.choose-order{
		display: flex
	}
	.choose-order select{
		margin-right: 15px
	}
	.alert alert-info{
		color: green;
	}
</style>


<div  class="inner-page">
<h2>Choose your Exam</h2>

<% if @ques.present? %>
<%= form_for(:create_answer, url: questions_create_answer_path , :html => {"data-parsley-validate" => true}) do |f| %>
	<div class="row choose-order">
		<div class="col-sm-6">			
			<%= select_tag :exam_id, options_for_select(Exam.all.order('name ASC').collect{|c| [c.name, c.id]}), :prompt => "Select your Exam", class: "select-exam" ,"data-parsley-required" => true %>
		</div>
		<div class="col-sm-6">
			<%= select_tag :subject_id, options_for_select([]), :prompt => "Select your Subject", class: "load-subject"  ,"data-parsley-required" => true %>
		</div>
		<div class="col-sm-6">
			<%= select_tag :topic_id, options_for_select([]), :prompt => "Select your Topic", class: "load-topic"  ,"data-parsley-required" => true %>
		</div>
		<div class="col-sm-6">
			<%= select_tag :chapter_id, options_for_select([]), :prompt => "Select your Chapter", class: "load-chapter"  ,"data-parsley-required" => true %>
		</div>
	</div>
	
	<div id="update-question">
		
	</div>
<% end %>
<% end %>

<p><%= link_to "Signout", homes_logout_path, method: :post %></p>
</div>

<script type="text/javascript">
	$(document).ready(function(){		

	$('.unskip').click(function(){
		$.ajax({
				url: '<%= questions_skip_question_path %>',
				type: 'post',
				dataType: 'script',
				data: {unskip: true},
				success:function(data){
					if(data){						
					}
				}
			})
	})

	$('.select-exam').on('change', function(){
		var exam = $(this).val();
		$.ajax({
			url: '<%= questions_update_subject_path %>',
			type: 'post',
			dataType: 'json',
			data: {exam_id: exam},
			success:function(data){
			  $('.load-subject').empty();     
	     $('.load-subject').append(
	       $("<option></option>")
	       .attr("value","")
	       .text("Select your Subject")
	       );
	     $.each(data, function( key, value ) {
	     	console.log(value.id)	     	
	       $('.load-subject').append(
	         $("<option></option>")
	         .attr("value", value.id)
	         .text(value.name)
	         );
	     });     
	   	},
	   	error: function() {
	    	alert("Please Select Exam")
	  	}							
		})
	})

	$('.load-subject').on('change', function(){
		var sub = $(this).val();
		$.ajax({
			url: '<%= questions_update_topics_path %>',
			type: 'post',
			dataType: 'json',
			data: {sub_id: sub},
			success:function(data){
			  $('.load-topic').empty();     
	     $('.load-topic').append(
	       $("<option></option>")
	       .attr("value","")
	       .text("Select your Topic")
	       );
	     $.each(data, function( key, value ) {
	     	console.log(value.id)	     	
	       $('.load-topic').append(
	         $("<option></option>")
	         .attr("value", value.id)
	         .text(value.name)
	         );
	     });     
	   	},
	   	error: function() {
	    	alert("Please Select Subject")
	  	}							
		})
	})

	$('.load-topic').on('change', function(){		
		var top = $(this).val();
		$.ajax({
			url: '<%= questions_update_chapters_path %>',
			type: 'post',
			dataType: 'json',
			data: {topic_id: top},
			success:function(data){
			  $('.load-chapter').empty();     
	     $('.load-chapter').append(
	       $("<option></option>")
	       .attr("value","")
	       .text("Select your Chapter")
	       );
	     $.each(data, function( key, value ) {
	     	console.log(value.id)	     	
	       $('.load-chapter').append(
	         $("<option></option>")
	         .attr("value", value.id)
	         .text(value.name)
	         );
	     });     
	   	},
	   	error: function() {
	    	alert("Please Select Topic")
	  	}							
		})
	})

	$('.load-chapter').on('change', function(){
		var exam = $('.select-exam').val();
		var subject = $('.load-subject').val();
		var topic = $('.load-topic').val();
		var chapter = $('.load-chapter').val();
		$.ajax({
			url: "/questions/show_questions",
			type: 'post',
			dataType: 'script',
			data: {exam: exam, subject: subject, topic: topic, chapter: chapter},
			success:function(data){
				
			}
		})
	})

	$('.select-exam, .load-subject, .load-topic').on('change', function(){
		$('.dyna-cont').find('p').text('')
		$('.dyna-cont').html('')
	})

	})
</script>