
<%= form_for(@user, :html => {"data-parsley-validate" => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, "data-parsley-required" => "true", "data-parsley-required-message" => "Please enter email", "data-parsley-type" => "email", "data-parsley-type-message" => "Please enter valid email" %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password, "data-parsley-required" => "true", "data-parsley-required-message" => "Please enter password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation, "data-parsley-required" => "true", "data-parsley-equalto" =>"#user_password", "data-parsley-equalto-message" => "Confirm password should be same as password", "data-parsley-required-message" => "Please enter your confirm password" %>
  </div>
  <div class="actions">
    <%= f.submit "Singup", :class => "btn-a" %>
  </div>
<% end %>

